In [11]:
import pandas as pd
df = pd.read_csv('SampleDataset.csv')
df2 = pd.read_csv('data.csv')

In [6]:
# To change settings of the Pandas library:
pd.options.display.max_rows     # 'pd.options.[...]' is used to check the current settings.

# help(pd.set_option)
pd.set_option('display.max_rows', 20)       # pd.options.display.max_rows = 20

# To reset to default values:
# help(pd.reset_option)
pd.reset_option('display.max_columns')

20

## **Describing a DataFrame:**

In [32]:
"""
To get a bird eyes view of the dataset, we can use the following methods/ attributes of Pandas' DataFrame:
"""
# df.info()
# df.shape
# df.describe()
# print(df.to_string())
# df.head(10)
# df.tail(10)
# df.count()
df.max()
# df.min()
df.columns

Index(['ID', 'Marital Status', 'Gender', 'Income', 'Children', 'Education',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Age Group', 'Purchased Bike'],
      dtype='object')

In [ ]:
# Pandas' data filtering works a lot like Excel's data filtering.
df.head(5)[[True, False, True, False, True]]

In [46]:
df.loc[1:5, 'ID':'Children']

      ID Marital Status  Gender   Income  Children
1  11047        Married  Female  $30,000         3
2  11061        Married    Male  $70,000         2
3  11090         Single    Male  $90,000         2
4  11116        Married    Male  $70,000         5
5  11139         Single  Female  $30,000         2